.Student__Form_Wrap {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 10px;
  height: 250px;
  min-height: 100px;
  width: 500px;
  min-width: 500px;
  justify-content: center;
  align-self: center;
  margin: auto;
}
.Student__main__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.Student__Form__input {
  width: 150px;
  border-radius: 10px;
  padding: 10px;
}
.Student__Form__Button {
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 100px;
  height: 50px;
}
.Students__Form__details {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Students__Form__details span {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
